#App{
    background-color: #fff;
    height: 100%;
    width: 100%;
    font-family: Poppins;
 
}
#text{
    font-weight: lighter;
    text-align: center;
    font-family: Poppins;
    letter-spacing: 3px;
    
}
#title{
    font-weight: bold;
    font-size: 54px;
    letter-spacing: 6px;
    text-align: center;
    font-family: Poppins;
    letter-spacing: 3px;
    
}
#sub{
   
    text-align: center;
    font-family: Poppins;
    letter-spacing: 3px;
   
}