.j-card{
    margin: 0 auto;
    align-items: center;
    margin-bottom: 0.625em;
    margin-top: 1.25em;
    padding-bottom: 1.875em;
    
  
  }
  .j-card-image{
    border-radius: 1.25em;
    width: 580px;
    height: 560px;
    box-shadow: 0px 0px 3px 1px #ccc;
    background-color: #026386;
    
  }
  .j-card-info {
    margin-top: 1.25em;
    min-height: 6.25em;
   
  }
  .j-card-title{
    font-size: 1.875rem;
    margin: 0px;
   
  }
  .j-card-subtitle{
    font-size: 1.625rem;
    margin: 0px;
   
  }
    @media screen and (max-width: 1920px) {
      .j-card-image{
        border-radius: 20px;
        width: 320px;
        height: 320px;
        box-shadow: 0px 0px 3px 1px #ccc;
        background-color: #026386;
      }
    }
