.wrapper > div{
  background: #eee;
  padding: 1em;
  height: 100%;
  overflow: none;
  
  
}
.wrapper > div:nth-child(odd){
  background-image: url("../assets/images/personalpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.wrapper{
  padding-top: 1.25em;
  padding-left: 1.875em;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-column-gap: 3em;
  grid-row-gap: 1em;

}
.card{
  height: 100%;
 
}
.title{
  font-weight: 700;
  font-size: 54px;
  text-transform: capitalize;
  line-height: 1;
  margin: 3vmin 0 3.5vmin;
  margin-top: 3.125em;
  font-family: Poppins;
  color: #1b1b1b;

}
.header{
  font-weight: 900;
  font-size: 1.7vmin;
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 10px;
  color: #1b1b1b;
  margin-bottom: 3.125em;
}
.paragraph{
  font-size: 2vmin;
  line-height: 2.2;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  color: #1b1b1b;
  font-family: Poppins;
}

@media screen and (max-width: 900px){
  .wrapper > div{
    background: #eee;
    padding: 1em;
    height: 100%;
    overflow: none;
    
  }
  .wrapper > div:nth-child(odd){
    display: none;
  }
  .wrapper{
    padding-top: 1.25em;
    display: flex;
    grid-template-columns: 50% 50%;
    margin-right: 1.25em;
    
  }
  .card{
    height: 100%;
  }
  .title{
    font-weight: 700;
    font-size: 34px;
    text-transform: capitalize;
    line-height: 1;
    margin: 3vmin 0 3.5vmin;
    margin-top: 3.125em;
    font-family: Poppins;
    color: #1b1b1b;
  
  }
  .header{
    font-weight: 900;
    font-size: 1vmin;
    text-transform: uppercase;
    font-family: Poppins;
    letter-spacing: 10px;
    color: #1b1b1b;
    margin-bottom: 3.125em;
  }
  .paragraph{
    font-size: 2vmin;
    line-height: 2.2;
    font-weight: 300;
    margin-bottom: 2.5vmin;
    color: #1b1b1b;
    font-family: Poppins;
  } 

}