.wrapper > div{
  background: #eee;
  padding: 1em;
  height: 90vh;
  
}
.wrapper > div:nth-child(odd){
  background-image: url("../assets/images/eveninghorizon.jpg");
  background-size: 90vmax auto;
}
.wrapper{
  padding-top: 20px;
  padding-left: 30px;
  display: grid;
  grid-template-columns: 40% 50%;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  
}

.title{
  font-weight: 700;
  font-size: 54px;
  text-transform: capitalize;
  line-height: 1;
  margin: 3vmin 0 3.5vmin;
  margin-top: 50px;
  font-family: Poppins;
  color: #1b1b1b;

}
.header{
  font-weight: 900;
  font-size: 1.7vmin;
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 10px;
  color: #1b1b1b;
  margin-bottom: 50px;
}
.paragraph{
  font-size: 1.6vmin;
  line-height: 2.2;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  color: #1b1b1b;
  font-family: Poppins;
}