body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#nav-color{
  background-color: #ffff;
}
.nav-link{
  font-size: 20px;
}

/*for mobile to hide dropdown menu when in desktop*/
@media screen  and (min-width: 800px){
  .dropdown{
    display: none;
  }
}